{
    "env": {
        "commonjs": {
            "comments": false,
            "plugins": [
            ],
            "presets": [
                ["@babel/preset-env", {
                    "modules": "commonjs",
                    "shippedProposals": true
                }]
            ]
        }
    }
}
